<div class="about-container">
  <div class="about-mini">
    <h2><b>About</b> Us</h2>
    <img src="../../assets//about_us.png" />
    <p>
      Founded in 2020, with a singular mission: To create ‘The Best Fantasy
      Sports Experience’ in the field of Cricket. We have designed our app &
      website keeping in mind the love and passion our nation shares for the
      game. With #Playerfirst as our guiding principle, we make sure our users
      have the most smooth, fun & credible gaming experience.
    </p>
  </div>
  <div class="about-work">
    <h2>How does League Cricket 11 Work</h2>
    <div class="about-work-mini"></div>
  </div>
</div>
