<!-- -->
<div class="box-area">
  <header>
    <div class="wrapper">
      <div class="logo">
        <a routerLink="/">League Cricket 11</a>
      </div>
      <nav>
        <a routerLink="/cricket">Home</a>
        <a routerLink="/about">About</a>
        <a routerLink="/payment">Payment</a>
        <a routerLink="/contactUs">Contact Us</a>
      </nav>
    </div>
  </header>
</div>
<div>
  <router-outlet></router-outlet>
</div>

<div class="theEnd">
  <div class="logo2">
    <a routerLink="/">League Cricket 11</a>
  </div>
  <div class="rightEnd">Payment accepted by all major banks and wallets.</div>
</div>
